@{
    Layout = string.IsNullOrWhiteSpace(Orchestrator.Device.Layout) ? "_Layout" : Orchestrator.Device.Layout;
    var uploadid = Guid.NewGuid().ToString();
}


<div class="row">
    <div class="col-md-3">
     @Html.Partial("SimpleUploader")
    </div>
</div>

