  <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="https://image.flaticon.com/icons/png/512/78/78373.png" class="img-circle" alt="User Image" />
                @*<img src="UserSession.Avatar" class="img-circle" alt="User Image">*@
            </div>
            @*@await Component.InvokeAsync("UserSessionClients", new {view = "UserStatus"})*@



        </div>

        <!-- search form -->
        <form action="#" method="get" class="sidebar-form" id="menu-search">
            <div class="input-group">
                <input type="text" name="q" id="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>

            <li class="treeview">
                <a asp-area="Backoffice" asp-controller="Home" asp-action="Home">
                    <i class="fa fa-edit"></i> <span>Administration</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a asp-area="Backoffice" asp-controller="Users" asp-action="Users">
                            <i class="fa fa-users"></i> Users
                        </a>
                    </li>
                    <li>
                        <a asp-area="Backoffice" asp-controller="Menus" asp-action="Home">
                            <i class="fa fa-anchor"></i> Menus
                        </a>
                    </li>

                </ul>
            </li>
            <li class="treeview">
                <a asp-controller="Scenarios" asp-action="Home">
                    <i class="fa fa-th"></i><span> Scenarios</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a  asp-controller="Scenarios" asp-action="Home">
                            <i class="fa fa-database"></i> Library
                        </a>
                    </li>
                    <li>
                        <a asp-controller="Scenarios" asp-action="Create">
                            <i class="fa fa-plus-square-o"></i> Create
                        </a>
                    </li>

                </ul>

            </li>

         
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>