@model DeleteUserCommand

@*<div class="info-box bg-red">

    <span class="info-box-icon"></span>
    <div class="info-box-content">
        <form asp-controller="Users" , asp-action="DeleteUser" method="post" asp-route-redirecturl="@Url.Action("Users", "Users")" role="form">
            <input type="hidden" asp-for="CorrelationId" />
            <input type="hidden" asp-for="Email" />
            <button type="submit" class="btn btn-danger btn-lg btn-block">Delete User</button>
        </form>
    </div>
</div>*@

<div class="box box-danger box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">
            Delete
        </h3>
    </div>
    <form asp-controller="Users" , asp-action="DeleteUser" method="post" asp-route-redirecturl="@Url.Action("Users", "Users")" role="form">
        <input type="hidden" asp-for="CorrelationId" />
        <input type="hidden" asp-for="Email" />
        <div class="box-footer">
          
                <button type="submit" class="btn  btn-block btn-danger btn-flat"><i class="fa fa-remove"></i></button>
        
        </div>

        
    </form>
</div>