@using Borg.Cms.Basic.Lib.Features.Device.Commands
@model IEnumerable<Borg.Cms.Basic.Lib.Features.Device.DeviceRecord>
@{
    var command = new DeviceCreateOrUpdateCommand("", "", DeviceRenderScheme.UnSet);
}

<div class="row">
    <div class="col-md-8">
        <div class="box">
            <div class="box-body">
                @Html.Partial("Partials/DeviceList", Model)
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="box">
            <div class="box-body">
                @Html.Partial("Partials/DeviceInfo", command)
            </div>
        </div>
    </div>
</div>