@using Borg.Bookstore.Areas.Backoffice.ViewComponents
@model UserSessionViewModel

<form method="post" asp-controller="UserSession" asp-action="SessionSettings" asp-route-redirecturl="@Orchestrator.Device.RelativePath()" role="form">
    <h3 class="control-sidebar-heading">User Session Settings</h3>
    <input type="hidden" asp-for="UserIdentifier" />
    <input type="hidden" asp-for="UserName" />
    <input type="hidden" asp-for="SessionStart" />
    <div class="form-group">
        <label class="control-sidebar-subheading">
            @Html.DisplayNameFor(m=> m.MenuIsCollapsed)
            <input type="checkbox" asp-for="MenuIsCollapsed">
        </label>

        <p>
            Controls the visibility of maon navigation menu
        </p>
    </div>
    <!-- /.form-group -->

    <div class="form-group">
        <label class="control-sidebar-subheading">
            @Html.DisplayNameFor(m => m.RowsPerPage)
        </label>
        <input type="text" class="form-control" asp-for="RowsPerPage" />
        <p>
            Controls the max number of rows that appear on each data page on a grid
        </p>
    </div>
    <!-- /.form-group -->

    <div class="form-group ">
        <button type="submit" class="btn btn-default btn-flat btn-block">
            <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
    </div>
    <!-- /.form-group -->

    @*<h3 class="control-sidebar-heading">Chat Settings</h3>

    <div class="form-group">
        <label class="control-sidebar-subheading">
            Show me as online
            <input type="checkbox" class="pull-right" checked>
        </label>
    </div>
    <!-- /.form-group -->

    <div class="form-group">
        <label class="control-sidebar-subheading">
            Turn off notifications
            <input type="checkbox" class="pull-right">
        </label>
    </div>
    <!-- /.form-group -->

    <div class="form-group">
        <label class="control-sidebar-subheading">
            Delete chat history
            <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
        </label>
    </div>*@
    <!-- /.form-group -->
</form>