<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/dist/styles.css"/>
    <environment names="Production">
        <!-- <link rel="stylesheet" href="dist/vendor.css" /> -->
    </environment>
</head>
<body>
@RenderBody()
@RenderSection("scripts", required: false)
</body>
</html>
