<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@Orchestrator.Page.Title</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link href="~/pres/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/pres/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
<link href="~/pres/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/pres/ionicons/css/ionicons.css" rel="stylesheet" />

<link href="~/pres/theme.css" rel="stylesheet" />
<script-render device script-position="Head"></script-render>
<meta name="X-COMPONENT" content="@Orchestrator.Page.ComponentKey" />