@using Borg.Cms.Basic.Lib.Features.Navigation
@using Borg.Cms.Basic.Lib.Features.Navigation.Modules
@using Borg.Infra.DTO
@using Borg.MVC

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <page-title />
    <metas />
    <link href="~/dist/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@_settings.Tenant.Endpoint">@_settings.Tenant.ServiceTag</a>
            </div>
            @await RenderSectionAsync("menu", required: false)
        </div>
    </nav>
    @await RenderSectionAsync("main", required: false)
    <div class="container">

        <div class="starter-template">
            <h1>Bootstrap starter template</h1>
            <p class="lead">
                Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.
            </p>
        </div>
    </div><!-- /.container -->

    <script src="~/dist/jquery.js"></script>
    <script src="~/dist/bootstrap/js/bootstrap.js"></script>
</body>
</html>