@using Borg.Cms.Basic.Lib.Features.Device.Commands
@model Borg.Cms.Basic.Lib.Features.Device.DeviceRecord


@{
    var newSectionCommand = new SectionCreateOrUpdateCommand("", Model.Id, DeviceRenderScheme.UnSet, "");
}




<div class="row">
    <div class="col-lg-8">

                @Html.Partial("Partials/SectionList", Model)



    </div>
    <div class="col-lg-4">
        <div class="box">
            <div class="box-body">
                @Html.Partial("Partials/DeviceInfo", new DeviceCreateOrUpdateCommand(Model.FriendlyName, Model.Layout, Model.RenderScheme, Model.Id))
            </div>
        </div>
        <div class="box">
            <div class="box-body">
                @Html.Partial("Partials/SectionInfo", newSectionCommand)
            </div>
        </div>
    </div>
</div>