@using Borg.Cms.Basic.Lib.Features.Device.Commands
@model Borg.Cms.Basic.Lib.Features.Device.DeviceRecord
    
    
@{
    var newSectionCommand = new SectionCreateOrUpdateCommand("", Model.Id, DeviceRenderScheme.UnSet, "");
}
<div class="box">
    <div class="box-body">

        @Html.Partial("Partials/DeviceInfo", new DeviceCreateOrUpdateCommand(Model.FriendlyName, Model.Layout, Model.RenderScheme, Model.Id))
    </div>

</div>


<div class="box">
    <div class="box-body">

       @foreach (var item in Model.Sections)
       {
           <a asp-controller="Devices" asp-action="Section" asp-route-id="@item.Id" class="btn btn-primary">
               <span>@item.FriendlyName</span>
           </a>
       }
    </div>

</div>
<div class="box">
    <div class="box-body">

        @Html.Partial("Partials/SectionInfo", newSectionCommand)
    </div>

</div>