@using Borg.Cms.Basic.Areas.Backoffice.ViewComponents
@model Borg.Cms.Basic.Lib.Features.Navigation.ViewModels.MenuViewModel
@{
    var hasId = Orchestrator.Device.RouteValues.ContainsKey("id");
    ViewBag.ContentItemRecordId = Model.SelectedRecord?.ContentItemRecordId?.ToString();
}
<div class="row">
    <div class="col-lg-5">
        @await Component.InvokeAsync(typeof(MenuGroupsViewComponent))
        @if (hasId)
        {
            @Html.Partial("Partials/Tree", Model.Trees())

            
        }
    </div>
    <div class="col-lg-7">
        @if (hasId)
        {
         
            @Html.Partial("Partials/ItemEdit", Model.GetCommand())
           
        }
    </div>

</div>