@using Borg.Cms.Basic.Lib.Features.Navigation
@using Borg.Cms.Basic.Lib.Features.Navigation.Commands
@using Borg.Cms.Basic.Lib.Features.Navigation.ViewModels
@model MenusDashboardViewModel
    @{
        var startGroupModel = new NavigationItemRecordCreateOrUpdateCommand()
        {
            Record = new NavigationItemRecord()
            {
                Display = "to replace",
                IsPublished = false,
                ParentId = 0,
                Id = 0,
                ItemType = NavigationItemType.Label,
                Path = "/"
            }
        };
    }
<div>
    @Html.Partial("Partials/StartNewGroup", startGroupModel)
</div>
@if (Model.Groups.Any())
{
    <div class="btn-group">
        @foreach (var g in Model.Groups)
        {
            <a asp-action="Group" asp-controller="Menus" asp-route-id="@g" class="btn btn-flat btn-secondary">@g</a>
        }
    </div>
}