@using Borg.Cms.Basic.Lib.Features.Auth.Login
@using Borg.Infra
@using Borg.MVC
@model LoginViewModel
@inject BorgSettings Settings
@{
    Orchestrator.Page.SetTitle("Lock out");
}

<div class="login-box">
    <div class="login-logo">
        <a asp-controller="Home" asp-action="Home"><img src="images/Futura-Logo-RGB-&-Blue.png" alt="futura performance unlocked" class="img-responsive image" /></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">
            User account <b>@Model.Email</b> is disabled.<br />
            <a asp-controller="Home" asp-action="Home">Log in</a> with another account.
        </p>
    </div>
    <!-- /.login-box-body -->
</div>