<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderSection("head", required: false)
    <div>
        @await RenderSectionAsync("main", required: false)
    </div>
</body>
</html>