@using Atlas.Web
@using Borg.Cms.Basic.Lib.Features.Auth.Events
@model .AccessDeniedToUser
@inject AtlasSettings Settings
<div class="login-box">
    <div class="login-logo">
        <a asp-controller="Home" asp-action="Home"><img src="images/Futura-Logo-RGB-&-Blue.png" alt="futura performance unlocked" class="img-responsive image" /></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">
            Access to <b>@Model.ReturnUrl</b> for account <b>@Model.UserName</b> is denied.<br />
            <a asp-controller="Home" asp-action="Home">Log in</a> with another account.
        </p>
    </div>

</div>