@using Borg.Cms.Basic.Lib.Features.Navigation.Modules
@using Borg.Infra.DTO
@{
    var copt = new Tidings(new[] { new Tiding("group", "BSE") });
}
@section menu{ 
    @await Component.InvokeAsync(typeof(MenuViewComponent), copt)
}

<h1>@Orchestrator.Device.Sections.Count</h1>