@using Borg.Cms.Basic.Lib.Features.Auth.Management.Users
@model DeleteUserCommand

<div class="info-box bg-red">

    <span class="info-box-icon"><i class="fa fa-remove"></i></span>
    <div class="info-box-content">
        <form asp-controller="Users" , asp-action="DeleteUser" method="post" asp-route-redirecturl="@Url.Action("Users", "Users")" role="form">
            <input type="hidden" asp-for="CorrelationId" />
            <input type="hidden" asp-for="Email" />
            <button type="submit" class="btn btn-danger btn-lg btn-block">Delete User</button>
        </form>
    </div>
</div>