@using Borg.Cms.Basic.Lib.Features.Auth.Management.Users
@model UserRowViewModel
@{
    var headerText = (Model.LockedOut) ? "Disabled" : "Enabled";
    var statusClass = (Model.LockedOut) ? "danger" : "success";
    var buttonText = (Model.LockedOut) ? "Unlock" : "Lock out";
}

<div class="box box-@statusClass box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">
            @headerText
        </h3>
    </div>
    <form asp-controller="Users" , asp-action="ToggleLockOut" method="post" asp-route-redirecturl="@Orchestrator.Device.RedirectToDevice()" role="form">
        <div class="box-body">

            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="UserName" />
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-default btn-block">@buttonText</button>
        </div>
    </form>
</div>