<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@Orchestrator.Page.Title</title>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

<link href="~/dist/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/dist/bootstrap/css/bootstrap-theme.css" rel="stylesheet" />
<link href="~/dist/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/dist/adminlte/css/AdminLTE.css" rel="stylesheet" />
<link href="~/dist/adminlte/css/skins/_all-skins.css" rel="stylesheet" />
<link href="~/dist/icheck/all.css" rel="stylesheet" />
<link href="~/dist/ionicons/css/ionicons.css" rel="stylesheet" />
<link href="~/dist/select2/css/select2.css" rel="stylesheet" />
<link href="~/dist/backoffice.css" rel="stylesheet" />
<script-render device script-position="Head"></script-render>
