@using Borg.Infra.Services
@model DateTimeOffset?
@{
    var htmlId = Randomize.Letters(7).ToLower();
}

<div class="form-group">
    <input type="hidden" id="initial_@htmlId" value="@Model" />
    <label asp-for="@Model"></label>
    <input type='text' class="form-control" asp-for="@Model" id='@htmlId' />
    <span asp-validation-for="@Model"></span>
</div>

<script device id="script_@htmlId" type="text/javascript" wight="113">

    $(function () {

        var options = {
            singleDatePicker: true,
            timePicker: true,
            timePickerIncrement: 5,
            timePicker24Hour: false,
            autoUpdateInput: false,
            timePickerSeconds: false,
            locale: {
                format: 'DD/MM/YYYY h:mm A'
            }};

        $('#@htmlId').daterangepicker(
            options,
            function (start, end, label) {
                JSON.stringify(label);
                $('#@htmlId').val(start.format('DD/MM/YYYY h:mm A'));
            });

        @*var intialValue = $('#initial_@htmlId').val();

        if (intialValue != null && intialValue != "undefined" && intialValue.length > 0) {
        }*@

    });



</script>