@model DateTimeOffset




<div class='input-group date' id='datetimepicker113'>
    <input type='text' class="form-control" asp-for="@Model" />
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>


<script device id="datetimepickereditor" type="text/javascript" wight="113">
    $(function () {
        $('#datetimepicker113').datetimepicker();
    });
</script>