@model Borg.Cms.Basic.Lib.Features.Content.Commands.ContentItemCreateOrUpdateCommand

    @{
        var command = Model;
    }


<div class="box box-primary box-solid ">
    <div class="box-header with-border">
        <h3 class="box-title">@command.Title</h3>

    </div>
    @Html.Partial("Components/ContentItemCommand/CommandForm", command)


</div>