@using Borg.Cms.Basic.Backoffice.BackgroundJobs
@model ComponentPublishOperationScheduleCommand
@inject IPageOrchestrator<IPageContent, IDevice> Orchestrator


<form asp-area="Backoffice" asp-controller="Components" asp-action="AssociateSchedule" asp-route-redirecturl="@Orchestrator.Device.RelativePath()" method="post">
  <input type="hidden" asp-for="ComponentId"/>
    <div class="box-body">
        <div class="form-group">
            <label asp-for="Direction"></label>
            <input asp-for="Direction" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="TriggerDate"></label>
            @Html.EditorFor(m=>m.TriggerDate)
        </div>
        <dic>@Model.TriggerDate</dic>
    </div>
    <div class="box-footer">
        <button submit-form> </button>
    </div>
</form>