@using Borg.Cms.Basic.Lib.Features.Auth.Management.Users
@model UserViewModel



    <div class="row">
        <div class="col-md-4">


        </div>

        <div class="col-md-4">
            @await Html.PartialAsync("Partials/ToggleLockout", Model)
            @await Html.PartialAsync("Partials/ResetPassword", new ResetPasswordViewModel() { Email = Model.UserName })
            @await Html.PartialAsync("Partials/UserRoles", Model)
        </div>

        <div class="col-md-4">
            @await Html.PartialAsync("Partials/DeleteUser", new DeleteUserCommand(){Email = Model.UserName})
            @await Html.PartialAsync("Partials/Profile", new ProfileCommand(Model.UserName, Model.FirstName, Model.LastName))

        </div>
    </div>
