@model Borg.Cms.Basic.Lib.Features.CMS.Commands.AppendDocumentToComponentCommand

<form asp-controller="Components" asp-action="AssociateDocument" enctype="multipart/form-data" asp-route-redirecturl="@Orchestrator.Device.RelativePath()">
    <div class="box-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    <label class="btn btn-primary btn-file btn-flat btn-block">
                        <span class="glyphicon glyphicon-cloud-upload"></span>
                        Browse <input id="file" type="file" class="hidden" asp-for="File" />
                    </label>
                </div>
                <div class="col-md-2">
                    <button id="clearfile" class="btn btn-warning  btn-flat btn-block" type="button" title="Clear file selection">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success pull-right btn-block" type="submit"><i class="fa fa-check"></i></button>
                </div>
                <div class="col-md-12"> <label id="filedisplay"></label></div>
            </div>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="CorrelationId" />
            <input type="hidden" asp-for="Email" value="@UserSession.UserName" />
            <input type="hidden" asp-for="ComponentId" />
            <input type="hidden" asp-for="Timestamp" />
        </div>
    </div>
</form>

<script device id="uploadavatarscript" weight="100">
    $(function () {

        $("input[type=file]#file").click(function () {
            $(this).val("");
        });

        $("input[type=file]#file").change(function () {

            $("#filedisplay").text($(this).val());
            $("#filedisplay").attr('title', $(this).val());

        });

        $("button#clearfile").click(function () {
            $("input[type=file]#file").val("");
            $("#filedisplay").text("");
        });
    });
</script>