@model AccessDeniedToUser

@{
    var rdurl = Orchestrator.Device.RouteValue<string>("ReturnUrl");
}
<div class="login-box">
    <div class="login-logo text-center">
        <a asp-controller="Home" asp-action="Home"><img src="~/dist/assets/borglogo.png" alt="borg" class="image" /></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">
            Access to <b>@Model.ReturnUrl</b> for account <b>@Model.UserName</b> is denied.<br />
            <a asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@rdurl">Log in</a> with another account.
        </p>
    </div>
</div>