@model Borg.Cms.Basic.Lib.Features.Device.Commands.DeviceCreateOrUpdateCommand
<form role="form" asp-controller="Devices" asp-action="Edit" method="post" class="form-horizontal">
    <div class="box-body">
                
        <div class="form-group hidden">
            <label asp-for="RecordId"></label>
            <input type="text" asp-for="RecordId" class="form-control"/>

            <span asp-validation-for="RecordId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FriendlyName"></label>
            <input type="text" asp-for="FriendlyName" class="form-control"/>

            <span asp-validation-for="FriendlyName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Layout"></label>
            <input type="text" asp-for="Layout" class="form-control"/>

            <span asp-validation-for="Layout" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RenderScheme"></label>
            <input type="text" asp-for="RenderScheme" class="form-control"/>

            <span asp-validation-for="RenderScheme" class="text-danger"></span>
        </div>
        <div class="form-group text-danger" asp-validation-summary="All" >
        </div>
    </div>
    <div class="box-footer text-right">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>