@using System.IO
@model Borg.Cms.Basic.Lib.Features.Device.Commands.DeviceCreateOrUpdateCommand
@{
    var layouts = ViewBag.LayoutFiles as IEnumerable<IDeviceLayoutFileInfo>;
    var layoutoptions = layouts.Select(x => new SelectListItem() {Value = x.FullPath, Text = System.IO.Path.GetFileNameWithoutExtension(x.FullPath)}).ToList();
    layoutoptions.Insert(0, new SelectListItem(){Value = "", Text = "..."});

    var schemeoptions = DeviceRenderScheme.Schemes().Select(x => new SelectListItem() {Value = x, Text = x});
    var isTransient = Model.RecordId <= 0;
}
<form role="form" asp-controller="Devices" asp-action="Edit" method="post" >
    @if (isTransient)
    {
        <div class="box-header">
            <h3 class="box-title">Add a template</h3>
        </div>
    }
    <div class="box-body">

        <div class="form-group hidden">
            <label asp-for="RecordId"></label>
            <input type="text" asp-for="RecordId" class="form-control"/>

            <span asp-validation-for="RecordId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="FriendlyName"></label>
            <input type="text" asp-for="FriendlyName" class="form-control"/>

            <span asp-validation-for="FriendlyName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Layout"></label>
            <select asp-for="Layout" asp-items="@layoutoptions" class="form-control select2"></select>


            <span asp-validation-for="Layout" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="RenderScheme"></label>
            <select asp-for="RenderScheme" asp-items="@schemeoptions" class="form-control select2"></select>
            <span asp-validation-for="RenderScheme" class="text-danger"></span>
        </div>
        <div class="form-group text-danger" asp-validation-summary="ModelOnly">
        </div>
    </div>
    <div class="box-footer text-right">
        <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i></button>
    </div>
</form>

