@model Borg.Cms.Basic.Lib.Features.Device.Commands.SlotCreateOrUpdateCommand
@{
    var moduleOptions = ViewBag.ModuleOptions as IEnumerable<SelectListItem>;
}
<div class="form-group hidden">
    <label asp-for="RecordId"></label>
    <input type="text" asp-for="RecordId" class="form-control" />

    <span asp-validation-for="RecordId" class="text-danger"></span>
</div>
<div class="form-group hidden">
    <label asp-for="SectionId"></label>
    <input type="text" asp-for="SectionId" class="form-control" />

    <span asp-validation-for="SectionId" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Ordinal"></label>
    <input type="text" asp-for="Ordinal" class="form-control" />

    <span asp-validation-for="Ordinal" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="ModuleGender"></label>
    <input type="text" asp-for="ModuleGender" class="form-control" id="moduleGenderInput" />

    <span asp-validation-for="ModuleGender" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="ModuleTypeName"></label>
    <input type="text" asp-for="ModuleTypeName" class="form-control" id="moduleTypeInput" />

    <span asp-validation-for="ModuleTypeName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="IsEnabled"></label>
    <input type="checkbox" asp-for="IsEnabled" />

    <span asp-validation-for="IsEnabled" class="text-danger"></span>
</div>
<div class="form-group">
    <select asp-items="@moduleOptions" id="modulesselect"></select>
    <label asp-for="ModuleDecriptorJson"></label>
    <input type="text" asp-for="ModuleDecriptorJson" class="form-control hidden" id="jsonValueBox" />
    <div id="jsoneditor" style="min-height: 400px; height: 400px;"></div>
    <span asp-validation-for="ModuleDecriptorJson" class="text-danger"></span>
</div>