@using Borg.Cms.Basic.Lib.Features.Navigation.Modules
@using Borg.Infra.DTO
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.CodeAnalysis.CSharp.Syntax
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<h1>body</h1>
<p>@Orchestrator.Page.Body[0]</p>