@model Borg.Infra.DTO.Tidings

<div class="box">
    <div class="box-body">
        <ul>
            @foreach (var root in Model)
        {
            root.Children.Add("ParentActive", true.ToString());
            @Html.Partial("Partials/TreeTiding", root)
    }
        </ul>
    </div>
</div>