@model IEnumerable<Borg.MVC.PlugIns.Contracts.IPluginDescriptor>
@{
    var parts = (Model.Count() / 4) + 1;
    var i = 0;
    var splits = from item in Model
                 group item by i++ % parts into part
                 select part.AsEnumerable();
}

@foreach (var split in splits)
{
    <div class="row">
        @foreach (var descriptor in split)
        {
            <div class="col-lg-3">
                @Html.Partial("Partials/Descriptor", descriptor)
            </div>
        }
    </div>
}


